[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ container_registry }}/{{ container_namespace }}/kubernetes-proxy:{{ container_label }}
ExecStart=/usr/bin/docker run --name %n --rm --privileged --net=host -v /etc/kubernetes:/etc/kubernetes:z {{ container_registry }}/{{ container_namespace }}/kubernetes-proxy:{{ container_label }}

[Install]
WantedBy=multi-user.target
