[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull jasonbrooks/kubernetes-kubelet:f25
ExecStartPre=/usr/bin/mount --make-rshared /
ExecStart=/usr/bin/docker run --name %n --rm --privileged --net=host --pid=host -v /:/rootfs:ro -v /sys:/sys:rw -v /var/run:/var/run:rw -v /run:/run:rw -v /var/lib/docker:/var/lib/docker:rw -v /var/lib/kubelet:/var/lib/kubelet:slave -v /var/log/containers:/var/log/containers:rw -v /etc/kubernetes:/etc/kubernetes:z jasonbrooks/kubernetes-kubelet:f25

[Install]
WantedBy=multi-user.target
